/* Change background color and font family */
/* line 2, ../sass/login-styles.scss */
body {
  background: #595959;
  /* #f8fafa; */
  font-family: Arial,Verdana,sans-serif;
  background-image: url(../images/hero-bg-foundation-6-large.svg);
  background-size: cover;
}

/* Change Width and Height of Logo Image + Add Custom Image File */
/* line 10, ../sass/login-styles.scss */
.login h1 a {
  background-image: url(../images/logo.png);
  width: 320px;
  height: 83px;
  background-size: 320px 83px;
}

/* Add a few changes to the color and style of form itself */
/* line 18, ../sass/login-styles.scss */
.login label {
  color: #454545;
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}

/* line 24, ../sass/login-styles.scss */
.login form .input {
  font-weight: normal;
}

/* line 27, ../sass/login-styles.scss */
#loginform, .login p.message {
  background-color: #eeeecb;
}

/* line 30, ../sass/login-styles.scss */
.login #backtoblog a, .login #nav a {
  color: #4da28f;
}

/* line 33, ../sass/login-styles.scss */
.wp-core-ui .button-primary {
  background: #4da28f;
}

/* line 37, ../sass/login-styles.scss */
.wp-core-ui .button-primary {
  background: #4da28f;
  display: block;
  width: 100%;
  text-shadow: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.3rem;
  height: 36px;
  line-height: 34px;
}
